{% extends 'base.html' %}
<!-- {% load static %} -->
<!-- Header Close --> 


<!-- Navigation ENd -->
{% block main %}
<!-- Banner Start -->
<section class="section banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-10">
				 <h2 class="cd-headline clip is-full-width mb-4 ">
				 	AgriConnect <br>
                    <span class="cd-words-wrapper text-color">
                        <b class="is-visible">Empower Farmers. </b>
                        <b>Expert Suggestions.</b>
                        <b>Predictive Insights.</b>
                    </span>
                </h2>
                <p>Connecting and empowering farmers</p>
			</div>
		</div>
	</div>
</section>


<!-- Service start -->
<section class="section service-home border-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2 class="mb-2 ">Core Services.</h2>
				<p class="mb-5">Here are the core services that we provide to empower the farmers.</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4">
				<div class="service-item mb-5" data-aos="fade-left" >
					<i class="ti-layout"></i>
					<h4 class="my-3">Personalization</h4>
					<p>Create your account to store and manage all your agriculture related things.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="service-item mb-5" data-aos="fade-left"  data-aos-delay="450">
					<i class="ti-announcement"></i>
					<h4 class="my-3">Community</h4>
					<p>Connect with the farmers near you to understand what they do and co-operate</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="service-item mb-5 mb-lg-0" data-aos="fade-left"  data-aos-delay="750">
					<i class="ti-layers"></i>
					<h4 class="my-3">Stats</h4>
					<p>We provide powerful machine learning models to make predictions on prices, yields and give
					you meaningful insights about the activities happening around you.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="service-item" data-aos="fade-left"  data-aos-delay="750">
					<i class="ti-anchor"></i>
					<h4 class="my-3">Ask your queries</h4>
					<p>Facing problems? Use our question answering platform to get  your queries answered by your peers.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="service-item mb-5" data-aos="fade-left"  data-aos-delay="950">
					<i class="ti-video-camera"></i>
					<h4 class="my-3">Rent your equipment</h4>
					<p>Dont have any use for your equipment. rent them to farmers in the community to promote co-operation.</p>
				</div>
			</div>
			<!-- <div class="col-lg-4">
				<div class="service-item mb-5 mb-lg-0" data-aos="fade-left"  data-aos-delay="1050">
					<i class="ti-android"></i>
					<h4 class="my-3">App Design</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
				</div>
			</div> -->
		</div>
	</div>
</section>

<section class="section service-home border-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2 class="mb-2 ">Contributors.</h2>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4">
				<div class="service-item mb-5" data-aos="fade-left" >
					<i class=""></i>
					<h4 class="my-3">Shivansh Siani</h4>
					<p>IIT(BHU), Varanasi</p>
					<p>shivansh.siani.cse17@itbhu.ac.in</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="service-item mb-5" data-aos="fade-left"  data-aos-delay="450">
					<i class=""></i>
					<h4 class="my-3">Amritansh Singhal</h4>
					<p>IIT(BHU), Varansi</p>
					<p>amritansh.singhal.cse17@itbhu.ac.in</p>

				</div>
			</div>
			<div class="col-lg-4">
				<div class="service-item mb-5 mb-lg-0" data-aos="fade-left"  data-aos-delay="750">
					<i class=""></i>
					<h4 class="my-3">P Shravan Nayak</h4>
					<p>IIT(BHU), Varanasi</p>
					<p>pshravan.nayak.ece17@itbhu.ac.in</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- service end -->
{% endblock %}
